version: '3'
services:
  backend:
    build: .
    ports:
      - 8000:8000
    networks:
      - app-network
    environment:
      - DATABASE_URL=postgresql://username:password@db:5432/vk-botfarm-db
    depends_on:
      - migrations
      - db
  migrations:
    build: .
    networks:
      - app-network
    environment:
      - DATABASE_URL=postgresql://username:password@db:5432/vk-botfarm-db
    command: sh -c "pyway migrate"
    depends_on:
      - db
  db:
    image: 'postgres:latest'
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: vk-botfarm-db
    volumes:
      - db:/var/lib/postgresql/data
    networks:
      - app-network
volumes:
  db:
    driver: local
networks:
  app-network: